*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #F01358;
}

.jumbotron-header{
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.jumbotron-content{
    height: 100vh;
    width: 30%;
    background-color: transparent;
    position: relative;
}

/* scroll webkit x */
::-webkit-scrollbar {
    display: none;
}

.jumbotron-content > img{
    animation: iceAnimate 3s linear infinite;
}

h1{
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #F01358;
}

.jumbotron-text{
    font-size: 25px;
    text-align: center;
}

@keyframes iceAnimate{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.content{
    height: 70%;
    width: 96%;
    background-color: #f88AAB;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: -1;
    animation: rotateContent 10s linear infinite;
}

@keyframes rotateContent{
    0%{
        transform: rotate(0deg);
        border-radius: 50% 50% 58% 42% / 59% 60% 40% 41% ;
    }
    50%{
        transform: rotate(180deg);
        border-radius: 50% 50% 42% 58% / 41% 40% 60% 59% ;
    }
    100%{
        border-radius: 50% 50% 58% 42% / 59% 60% 40% 41% ;
        transform: rotate(360deg);
    }
}

.active {
    background-color:#f88AAB ;
    border-radius: 30%;
}

main{
    margin-top: 50px;
}

.about-title{
    text-align: center;
}